h1
{
  color: #2561AA;
  font-family: 'Titillium Web', sans-serif;
}
p
{
  color: #5E5E5E;
  font-family: 'Titillium Web', sans-serif;
}
a
{
  text-decoration: none;
}
.btn-radius
{
  font-size: 16px;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  color: #FFF;
  background-color: #20C1F1;
  border-radius: 20px;
  padding: 8px;
}

div
{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

div.header
{
  background-color: white;
  min-height: 100px;  
}

div.main
{
  background: #EEE;
  min-height: 800px;
}

#logo
{
  padding: 20px;
  float: right;
}
